<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>965690612175-lbaivgfk95mjkoq065sejipc76n31o5i.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.965690612175-lbaivgfk95mjkoq065sejipc76n31o5i</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>965690612175-lmme7kalfkavpppfq1j73rh5ohla7keb.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDwvjJCkkcNbGmf1NLIClG25-wf7k8Fi34</string>
	<key>GCM_SENDER_ID</key>
	<string>965690612175</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.communityBoard989</string>
	<key>PROJECT_ID</key>
	<string>flutter-communityboard</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-communityboard.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:965690612175:ios:ac732956ebe68f9d</string>
	<key>DATABASE_URL</key>
	<string>https://flutter-communityboard.firebaseio.com</string>
</dict>
</plist>